<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ride My Way</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Bitter|Roboto|PT+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./assets/css/index.css">
</head>

<body>
  <header>
    <ul class="nav">
      <li class="nav-link">
        <a class="nav-list" href=""> Ride My Way</a>
      </li>
      <li class="nav-link2 profile">
        <a class="nav-list3" href=""> Profile</a>
      </li>
      <li class="nav-link2">
        <a class="nav-list2" href=""> Dashboard</a>
      </li>
      <li class="nav-link2">
        <a class="nav-list2" href=""> Available Rides</a>
      </li>
    </ul>
    <li class="nav-mobile">
      <a class="dropbtn" href="javascript:void(0)">
        <i class="fas fa-bars"></i>
      </a>
      <div class="dropdown-content">
        <a href=""> Available Rides</a>
        <a href=""> Dashboard</a>
        <a href=""> Profile</a>
      </div>
    </li>
  </header>

  <main>
    <div id="overlay">
      <div class="caption">
        <h2 class="caption-text"> Ride My Way </h2>
        <h4 class="caption-text2"> carpooling at your fingertips</h4>
        <button class="caption-btn"> Get Started </button>
      </div>
    </div>
    <div class="section-div">
      <h2 class="header1"> How It Works </h2>
      <h4 class="driver-text"> For drivers all you have to do is: </h4>
      <section class="section1">
        <div class="div-content">
          <i class="fas fa-sign-in-alt icon"></i>
          <p> Sign in / Register a new account </p>
        </div>
        <div class="div-content">
          <i class="fas fa-plus-circle icon"></i>
          <p> Create a new ride offer </p>
        </div>
        <div class="div-content">
          <i class="fas fa-thumbs-up icon"></i>
          <p> Approve ride requests from potential riders</p>
        </div>
      </section>
      <div id="overlay2">
        <h4 class="rider-text"> For riders all you have to do is: </h4>
        <section class="section2">
          <div class="div-content2">
            <i class="fas fa-sign-in-alt icon2"></i>
            <p> Sign in / Register a new account </p>
          </div>
          <div class="div-content2">
            <i class="fas fa-search icon2"></i>
            <p> Search for ride offers, from available rides </p>
          </div>
          <div class="div-content2">
            <i class="fas fa-share-square icon2"></i>
            <p> Request to ride with a driver</p>
          </div>
        </section>
      </div>
    </div>
  </main>

  <footer>
    
  </footer>
</body>

</html>
