<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ride My Way</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Bitter|Roboto|PT+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./assets/css/signup.css">
</head>

<body>
  <header>
    <ul class="nav">
      <li class="nav-link">
        <a class="nav-list" href=""> Ride My Way</a>
      </li>
    </ul>
  </header>

  <main class="signup-body">
    <div >
      <h3> Register Here </h3>
    </div>
  </main>

  <footer>

  </footer>
</body>

</html>
